<!-- Customer Testimonials -->
<!-- first row -->
<div style="background-color: #e5e7eb;">
    <h3 class="text-center pt-4">Customer Testimonials <i class="bi bi-alarm"></i></h3>
    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row mt-3">
                        <div class="col-sm-4 ">
                            <div class="card ms-4" style= "height: 92%; width: 85%;     ">
                                <div class="card-body">
                                    <p class="head">Hires Maid,Cook,Petcare,Babusitter All<br>in one</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>The best thing about the service is low brokerage
                                        and a lot of helper options.I would definitely like
                                        to recommend the
                                    </p>
                                    <p class="testi" style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Bhaumik Desai</p>
                                    <p class="testi">Pune</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%; ">
                                <div class="card-body">
                                    <p class="head">Hired Packers & Delivery Staff</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>I have a stuffed toy factory. We do not have an HR
                                        department.Helper4U interviewed candidates for me,
                                        helped me virify
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms.Divya Sisodiya</p>
                                    <p class="testi">Pune</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;  ">
                                <div class="card-body">
                                    <p class="head">Online Verification of staff </p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>Excellent support provided - I had opted for
                                        criminal background verificaton for my helper to
                                        keep my family safe. The
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Aakash</p>
                                    <p class="testi">Noida</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- second row -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card  ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Background check for Parent Care</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>We had got the vorification done for a help We
                                        hired for our parents in Delhi.The entire
                                        experience was quiteseemless.
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr.Ravi Girdhar</p>
                                    <p>Delhi</p>
                                </div>
                            </div>
                        </div>
                        <!-- -------- -->
                        <div class="col-sm-4">
                            <div class="card  ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head"> Hired Miad-Bai,Babysitter-Nanny,cook- <br>chef in faridabad</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>Nice experience</p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms. Sonali Parmar</p>
                                    <p>faridabad</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Verified Delivery Staff</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>Verified Delivery Staff...for jewelry delivery for a
                                        third party.Being a startup, it was crucial for us
                                        that
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms.Malathi</p>
                                    <p>Bangaluru</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- third row -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Babysitter-Nanny in Pimpri-<br>Chinchwad</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>It's, good so far
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms.Gargi Jajoo</p>
                                    <p>Pimpri-Chinchwad</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Caregiver in Lucknow</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>We used Helper4U when my mother-in-low fell
                                        and fractured her leg.we had seen Helper4U ad
                                        on Facebook and checked it
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms.Mina Shaarma</p>
                                    <p>Lucknow</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Multiple hirings for home</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p> second helper i have through Helper4U.
                                        Bhot the times the service was very professional,
                                        enough candidates were
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr.Anju Mittal</p>
                                    <p>Delhi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fourth row -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Staff for hotel</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>We have hired housekeeping staff and front office
                                        staff from Helper4U for our small hotel in Saki
                                        Naka, Mumbai: without
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Romy</p>
                                    <p>Mumbai</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired parent care for father in Mumbai</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>It was quite smooth from start to finish, and the
                                        package that let me outsource the interview
                                        process was most helpful</p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Farsheed</p>
                                    <p>USA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Chef during COVID</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>I hired two cooks in Patiala from Delhi during
                                        COVID lockdown. It was the best contactless hiring
                                        experience of verified
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Arora</p>
                                    <p>Patiala</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- five row -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Babysitter in Pune</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>I really liked the experience. The person who
                                        called me was very friendly and happy to help me.
                                        He did his job really
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Zisis Rousopoulos</p>
                                    <p>Pune</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Nanny in Pune</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>Helper4U was very helpful in my search for
                                        a trustworthy babysitter. I hired a Nanny from their
                                        platform & wanted a</p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms. Christeena</p>
                                    <p>Pune</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Caregiver for Mom</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>We were looking for a caregiver/companion for
                                        my mother who lives alone in Mumbai. We were
                                        able to hire Pravina through
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Dr. Manisha Kulkarni</p>
                                    <p>London</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- six row -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Patient Care post surgery</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>The experience was very good. I could get the
                                        person I needed a male caregiver - very
                                        smoothly and immediately, during
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Ms. Piyul Mukherjee</p>
                                    <p>Mumbai</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Caregiver for COVID patient</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>Thanks for the support team during emergency, I
                                        am counting on your service, readiness,
                                        confidence, availability,</p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Shirish Jhadhav</p>
                                    <p>Chiplun</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card ms-4" style="height: 92%; width: 85%;">
                                <div class="card-body">
                                    <p class="head">Hired Chef for Food stall</p>
                                    <p style="font-weight: 500;line-height: 0.3;">My experience with Helper4U</p>
                                    <p>I run a Fast Food Counter and needed a Chef
                                        when my regular guy went on leave. Helper4U has
                                        many Chefs for all cuisines.
                                    </p>
                                    <p style="color: red;">Read More</p>
                                    <p style="font-weight: 700; line-height: 1.3;">Mr. Rane</p>
                                    <p>Aurangabaad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<!-- Why Choose us -->



<!-- Recently Added -->
