
.cardtext{
    font-weight: 700;
    font-size: 16px;
}

.testi{
    line-height: 0.3;
}
.head{
    font-weight: 700;
    font-size: 88%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
}
