 <div style="background-color: #c2c4c9;" class="mt-1">
   
        <h4 class="text-center pt-4 ">POPULAR CATEGORIES</h4>
        <p class="text-center" > <a href="#" style="text-decoration: none; color: red;">  Hire Cook-Chef in Delhi | Hire Cook-Chef in Mumbai | Hire Babysitter-Nanny in Pune | Hire Babysitter-Nanny in Noida | Hire Babysitter-Nanny in Thane | Hire Maid-<br>Bai in Gurugram | Hire Maid-Bai in Faridabad | Hire Cook-Chef in Navi Mumbai | Hire Cook-Chef in Navi Mumbai | Hire Cook-Chef in Ghaziabad | Hire Cook-Chef in Lucknow | Hire Maid-Bai in Meerut | Hire Patient-Elder Care<br> in Nagpur</a></p>
 
</div>
