.link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu {
    width: 340px;
    background-color: white;
    /* height: 100%; */
    border-radius: 10px;
    /* box-shadow: rgba(145, 92, 182, 0.2)  */
}
.for{
    font-weight: 700;
    text-align: center;
    font-size: 60;
   
}
.input{
    border: none;
    border-bottom: 1px solid black;
    width:80%;
    outline: none;
}
.input:hover{
    border-bottom: 1px solid red;
    
}