<div style="background-color:  #e9ecef; ">
    <div style="background-color: red; height: 30%;">
        <h2 style="text-align: center; color: white;" class="pt-4">Contact Us</h2>
        <p class="text-center text-white">Don't hesitate to ask, we're here to solve your problems.</p>
    </div>
      <div >
    <div class="container">
        <div class="row" style="display: flex; justify-content: center; ">
            <div class="col-sm-4 mt-5 pt-5 ms-3">
                <div class="p-5 menu">
                    <div style="text-align: center;">
                        <img src="https://www.cookandchef.in/static/media/cell.92799eed16279fb10f6b.gif"
                            style="height: 30px;"><a href="#" class="link me-5 pe-2">+91- 9178828999</a>
                    </div>
                </div>
                <div class="p-5 menu mt-4">
                    <div style="text-align: center;">
                        <img src="https://www.cookandchef.in/static/media/mail.93cebc7d74f86a6b0a5f.gif"
                            style="height: 30px;"><a href="#" class="link">
                                support@cookandchef.in</a>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="col-sm-2 mt-5 pt-5 pb-5 " style="width: 400px; ">
                <div class="card" style="height: auto; border: none;" >
                    <div class="card-body">
                     
                            <p class="for pt-4">For any query, drop a message</p>
                            <div style="text-align: center"> 
                                <form>
                            <input type="text" placeholder="Enter your name*" class="input" ><br>
                            <input type="number" placeholder="Enter your mobile number*" class="mt-4 input"><br>
                            <input type="email" placeholder="Enter your email*" class="mt-4 input" ><br>
                            <input type="text" placeholder="Enter subject*" class="mt-4 input"><br>
                            <textarea  placeholder="Enter your masseage*" rows="2" class=" input mt-3"></textarea><br>   
                           
                           
                            <div style="text-align: center;"   class="mt-4">
                                <button type="button" class="btn btn" style="background-color: red; color: white;">Send Message</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

