<!-- <div class="container-fluid" style="background-color: rgb(201, 195, 195);">
    <div class="container bg-white">
        <div class="row">
            <div class="col-sm-6  ">
                <img src="https://www.cookandchef.in/static/media/cook-signup.3818df96d69f267b97bd.jpg" style="height: 500px;">
            </div>
        </div>
    </div>    
</div> -->


<div class=" container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="background-color:#e9ecef ;">
                <div class="container">
                    <div class="row" style="display: flex; justify-content: center; align-items: center;">
                        <div class="bg-white mt-3 mb-4" style="width: 100%;">
                       <div class="row">
                        <div class="col-sm-6">
                            <img src="https://www.cookandchef.in/static/media/cook-signup.3818df96d69f267b97bd.jpg"  alt=""
                            style="width: 80%; margin-left: 5px;">
                        </div>
                        <div class="col-sm-5">
                            <h3 class="text-center mt-5">Cook Sign Up</h3>
                            <div class="text-center mt-4">
                           <input type="checkbox"class= "form-check-input "  ><label class="ms-2">Chef</label>
                           <input type="checkbox" class="form-check-input ms-5 "  ><label  class="ms-2">House-Cook</label>
                           <input type="checkbox" class="ms-5 form-check-input"><label  class=" ms-2">Party-Cook</label>

                           <input type="text" class="input mt-4" placeholder="Enter your name*">
                           <input type="email" class="input mt-4" placeholder="Enter your email*">
                           <input type="number" class="input mt-4" placeholder="Enter your mobile number*">
                           <input type="password" class="input mt-4" placeholder="Enter password*">
                           <input type="password" class="input mt-4" placeholder="Confirm password*"><br>
                           <select class="input mt-4">
                            <option>Select gender</option>
                           <option>Mail</option>
                           <option>Femail</option>
                           <option>other</option>
                        </select>

                        </div>
                        <p style="font-size: 12px;" class="mt-4 ms-4">By clicking Sign Up, you agree to our<span ><a href="" style="color: red; text-decoration: none;"> terms and<br> conditions</a></span> and privacy policy</p>
                            <div style="text-align: center;">
                                <button type="button" class="btn btn mb-3 mt-3" style="background-color: red; color: white; padding: 9px 55px 9px 55px; border-radius: 13px;">Sign Up</button>
                                <p>Already have an account?<a href="login" style="color: red;">Login</a></p>
                                <p>Are you a catering?<a href="signup" style="color: red;"> Catering SignUp</a></p>
                            </div>
                            </div>
                        </div>
                      
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div style="background-color: #e9ecef;">
                <div class="container">
                    <div class=" row" style="display: flex; justify-content: center; align-items: center;background-color: white;">
                        <div class="d-none d-lg-block col-lg-5">
                            <img  src="https://www.cookandchef.in/static/media/cook-signup.3818df96d69f267b97bd.jpg" style="height: 500px;" style="height: 470px;" alt=""
                            style="height: 470px; margin-left: 5px;"></div>
                            <div class="d-flex justify-content-center align-items-center flex-column col-xl-5 col-lg-5 col-md-12 col-11"
                            style="margin: 57px;">
                                 <div class="col-sm-6">
                                    <div class=""
                                 </div>   
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div> -->


























<!-- <div class="container-fluid">
<div style="background-color:  #e9ecef; height:auto;">
     <div class="container">
        <div class="bg-white">
                    <div class=" row">
                <div class="col-sm-5" >
                    <img src="https://www.cookandchef.in/static/media/cook-signup.3818df96d69f267b97bd.jpg" style="height: 500px;"  >
                </div>
                <div class="col-sm-6 mt-5 ">
                    <h3 class="text-center">Cook Sign Up</h3>
                    <div class="text-center mt-5">
                    <input type="checkbox"><span class="ms-2">Chef</span> 
                    <input type="checkbox" class="ms-5"><span class="ms-2">House-Cook</span> 
                    <input type="checkbox" class="ms-5"><span class="ms-2">Party-Cook</span><br>
                    <input  type="text" class="input mt-4" placeholder="Enter your name"><br>
                    <input  type="email" class="input mt-4" placeholder="Enter your email"><br>
                    <input  type="number" class="input mt-4" placeholder="Enter your mobile number"><br>
                    <input  type="password" class="input mt-4" placeholder="Enter password"><br>
                    <input  type="password" class="input mt-4" placeholder="Confirm password"><br>
                    <input  type="text" class="input mt-4" placeholder="Select gender">
                </div>
                
                    <p style="font-size:12px;" >By clicking Sign Up, you agree to our  <span style="color: red;">terms and <br> conditions</span> and <span style="color: red;">privacy policy</span></p>
                   <div style="text-align: center;">
                <button type="button" class="btn btn" style="background-color: red; color: white;">Sign Up</button>
                </div>
                </div>

            </div>
        </div>
     </div>
</div>
</div> -->