<div style="background-color:rgb(241 245 249);">
    <h3 class="text-center pt-5">Helper4U Services</h3>
    <div class="row mt-4">
        <!-- 1photo -->
        <div class="col-sm-3  ">
            <div class="card zoom" style="background-color:rgb(241 245 249);">
                <div class="card-body ">
                    <img src="https://maidforyou.in/img/how_it_works/1.jpg" width="100%">
                    <p class="text-center cardtext mt-3" style="font-weight: 700;">Permanent Hiring</p>
                </div>
            </div>
        </div>

        <!-- 2photo -->
        <div class="col-sm-3">
            <div class="card zoom" style="background-color:rgb(241 245 249);;">
                <div class="card-body">
                    <img src="https://maidforyou.in/img/how_it_works/2.jpg" width="100%">
                    <p class="text-center cardtext mt-3" style="font-weight: 700;">Verify Staf</p>
                </div>
            </div>
        </div>
        <!-- 3photo -->
        <div class="col-sm-3">
            <div class="card zoom" style="background-color:rgb(241 245 249);;">
                <div class="card-body">
                    <img src="https://maidforyou.in/img/how_it_works/3.jpg" width="100%">
                    <p class="text-center cardtext mt-3" style="font-weight: 700;">Help4Parents</p>
                </div>
            </div>
        </div>

        <!-- 4photo -->
        <div class="col-sm-3">
            <div class="card zoom" style="background-color:rgb(241 245 249);">
                <div class="card-body">
                    <img src="https://maidforyou.in/img/how_it_works/4.jpg" width="100%">
                    <p class="text-center cardtext mt-3" style="font-weight: 700;">Post job Hire Helper</p>
                </div>
            </div>
        </div>

    </div>
</div>

