<h3 class="text-center mt-3">Why Choose Us</h3>
<div class="container-fluid">
    <!-- 1 -->
    <div class="row mt-4">
        <div class="col-sm-3">
            <div class="card zoom ms-5" style="height: 92%; width: 80%; background-color:rgb(58 176 255);">
                <div class="card-body">
                    <div class="text-center">
                        <img
                        src="https://helper4u.in/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcustomer-review_8522191.f150ef4d.png&w=96&q=75">
                    </div>
                    <h4 class="text-center text-white">15000+</h4>
                    <p class="text-white text-center" style="font-size: 132%; font-weight: 700;">Satisfied Employers</p>
                    <p class="text-center">Get Multiple Helper options for
                        Part Time or Live-in, Female or
                        Male requirements</p>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="col-sm-3">
            <div class="card  zoom ms-5" style="height: 92%;width: 80%;  background-color:rgb(58 176 255);">
                <div class="card-body">
                    <div class="text-center">
                        <img src="https://helper4u.in/_next/image?url=%2FverifiedHelpers.jpeg&w=48&q=75">
                    </div>

                    <p class="text-white text-center" style="font-size: 132%; font-weight: 700;">Verified and Trained
                        Helpers</p>
                    <p class="text-center">GAadhar Verified, Criminal Background Checked, Soft Skills Trained</p>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="col-sm-3">
            <div class="card  zoom ms-5" style="height: 92%;width: 80%;   background-color:rgb(58 176 255);">
                <div class="card-body">
                    <div class="text-center">
                        <img
                            src="https://helper4u.in/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmanagement.6270420a.png&w=96&q=75">
                    </div>

                    <p class="text-white text-center" style="font-size: 132%; font-weight: 700;">Replacement</p>
                    <p class="text-center">Get 6-month replacement when you hire from us</p>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="col-sm-3">
            <div class="card zoom ms-5" style="height: 92%;width: 80%;  background-color:rgb(58 176 255);">
                <div class="card-body">
                    <div class="text-center">
                        <img
                            src="https://helper4u.in/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpayment-method.02686eb5.png&w=96&q=75">
                    </div>

                    <p class="text-white text-center" style="font-size: 132%; font-weight: 700;">Refund</p>
                    <p class="text-center">Claim a refund if you decide not to hire from us</p>
                </div>
            </div>
        </div>
    </div>
</div>

