

<div style="background-color: rgb(241 245 249);" class="container-fluid">
    <div class="row ">
        
            <div class="col-sm-5 container ">
                <p class="need"style="line-height: 0; margin-top: 6.5rem; ">Need a Verified Helper?</p>
                    <p class="need" style="line-height: 0; margin-top: 2.0rem;"><a href="#" class="link">Explore Our Options.</a></p>
                
                    <div class="main" style="margin-top: 2rem;">
                <p >Because You Deserve a Stress- <br>Free Life</p>
                    </div>
                <input type="number" class="input"  placeholder="Enter Your Pincode" >
                <button type="button" class="inboxbtn m-3 btnlogin">Show Helpers</button>
                <p class="trans ms-3" >Transforming Hiring, Empowering Lives</p>
                </div>
        <!-- Image div -->
                <div class="col-sm-7" style=" margin-top: 23px; width: 50%;">
                <img src="https://helper4u.in/home%20page.jpg" style=" height:auto; width: 100%; border-radius: 10px;" >
                </div>
            </div>
        </div>


<app-help4u></app-help4u>
<app-customer-testimonials></app-customer-testimonials>
<app-whychoose></app-whychoose>
<app-recently></app-recently>
  































