<div class=" container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="background-color:#e9ecef ;">
                <div class="container">
                    <div class="row" style="display: flex; justify-content: center; align-items: center;">
                        <div class="bg-white mt-3 mb-4" style="width: 100%;">
                       <div class="row">
                        <div class="col-sm-6">
                            <img src="https://www.cookandchef.in/static/media/client-signup.31bc7199b79c101e8e4b.jpg"  alt=""
                            style="width: 80%; margin-left: 5px;">
                        </div>
                        <div class="col-sm-5">
                            <h3 class="text-center mt-5">Employer Sign Up</h3>
                            <div style="text-align: center;">
                            <button type="button" class="bton">Need a House-Cook</button>
                            <button type="button" class="bton">Need a House-Cook</button>
                            </div>
                        <p class="text-center mt-4" style="font-size: 14px;">If you need a Chef for your Restaurant, Hotel, Cloud Kitchen or for Business purpose

                        </p>
                            <form class="text-center">
                                <input type="text" class="input mt-2" placeholder="Enter your name*">
                                <input type="email" class="input mt-4" placeholder="Enter your email*">
                                <input type="number" class="input mt-4" placeholder="Enter your mobile number*">
                                <input type="password" class="input mt-4" placeholder="Enter password*">
                                <input type="password" class="input mt-4" placeholder="Confirm password*"><br>
                               
                            </form>

                           

                
                        <p style="font-size: 12px;" class="mt-4 ms-4">By clicking Sign Up, you agree to our<span ><a href="" style="color: red; text-decoration: none;"> terms and<br> conditions</a></span> and privacy policy</p>
                            <div style="text-align: center;">
                                <button type="button" class="btn btn mb-3 mt-3" style="background-color: red; color: white; padding: 9px 55px 9px 55px; border-radius: 13px;">Sign Up</button>
                                <p>Already have an account?<a href="login" style="color: red;">Login</a></p>
                                <p>Are you a catering?<a href="signup" style="color: red;"> Catering SignUp</a></p>
                            </div>
                            </div>
                        </div>
                      
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


